.App {
  text-align: center;
}

.App-TodoList{
  margin: 4rem auto;
  padding: 2rem;
  max-width: 500px;
  background: #2ec586;
  color: white;
  box-shadow: -10px -10px 0px 0px rgba(100, 100, 100, 0.4);
}

.App-Smalltext{
  font-size: 0.8rem;
}